

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#0f1117;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.certificates{
    width:90%;
    max-width:1100px;
    text-align:center;
}

.certificates h1{
    color:white;
    margin-bottom:30px;
    font-size:40px;
}

/*.slider{
    position:relative;
    background:#2b2d31;
    border-radius:20px;
    height:500px;

    display:flex;
    justify-content:center;
    align-items:center;
}*/



.certificate-box img{
    width: 70%;
    /*max-width:90%;*/
    height: 100%;
    border-radius:10px;
    object-fit: contain;
    box-shadow:0 0 20px rgba(255,255,255,0.15);
}

/*.arrow{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    background:none;
    border:none;
    color:#9b9b9b;
    font-size:60px;
    cursor:pointer;
    transition:.3s;
}

.arrow:hover{
    color:white;
}

.left{
    left:30px;
}

.right{
    right:30px;
}

.dots{
    position:absolute;
    bottom:30px;
    display:flex;
    gap:15px;
}

.dot{
    width:15px;
    height:15px;
    border-radius:50%;
    background:#cfcfcf;
}

.dot.active{
    background:white;
}*/

